*{
    font-family: 'Overpass', sans-serif;
}

p{
    font-size: 15px;
}

.hide-window {
    display: none;
}

body{
    background-color: hsl(216, 12%, 8%);
    padding: 15px;
    
}

#main-window{
    background-color: hsl(216, 40%, 15%);
    border-radius: 15px;
    padding: 20px 17px 30px;
}

#star-icon{
    background-color: hsl(213, 19%, 25%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-window > h2{
    color: hsl(0, 0%, 100%);
}

#main-window > p{
    color: hsl(216, 12%, 64%);
    margin-bottom: 30px;
}

#rate-container{
    display: flex;
    justify-content: space-between;
}

.rate-number{
    width: 45px;
    height: 45px;
    background-color: hsl(213, 19%, 25%);
    border-radius: 50%;
    display: flex;
    color: hsl(216, 12%, 64%);
    font-weight: 700;
}

.rate-number > p{
    margin: 15px auto;
}

#submit-button{
    background-color: hsl(25, 97%, 53%);
    border-radius: 50px;
    width: 95%;
    height: 50px;
    margin: 30px auto 0;
    display: flex;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

#submit-button > p{
    margin: 18px auto;
    letter-spacing: 3px;
}

.mouseover{
    background-color: hsl(217, 12%, 63%);
    color: white
}

footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.attribution {
    color: hsl(0, 0%, 100%);
    font-size: 11px;
    text-align: center;
    margin-bottom: 8px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
